.yesbtn {
    background: grey;
    border-color: 1px solid green !important;
    border-radius: 20px;
    width: 32%;
    padding-top: 8px;
    margin-right: 2px;
    height: 40px;
    color: white;
    text-align: center;
  }
  
  .nobtn {
    background: grey;
    color: white;
    text-align: center;
    border-color: 1px solid red !important;
    border-radius: 20px;
    width: 32%;
    padding-top: 8px;
    margin-right: 2px;
    height: 40px;
  }
  
  .yesbtn_selected {
    color: white;
    text-align: center;
    background: green !important;
    border-radius: 20px;
    width: 32%;
    padding-top: 8px;
    margin-right: 2px;
    height: 40px;
  }
  
  .nobtn_selected {
    text-align: center;
    color: white;
    background: red !important;
    border-radius: 20px;
    width: 32%;
    margin-right: 2px;
    padding-top: 8px;
    height: 40px;
  }
  .nabtn_selected {
    text-align: center;
    color: white;
    background: orange !important;
    border-radius: 20px;
    width: 32%;
    margin-right: 2px;
    padding-top: 8px;
    height: 40px;
  }