
.Login_info {
  height: auto !important;
  min-height: 100vh !important;
  background: linear-gradient(-26deg, #e1f4fe 0%, #9cdce8 48%, #3eb1dc 91%); 
}

.login_input{
  width: 300px;
  border-bottom: 1px solid white  !important;
}

.login_btn {
  border-radius: 20px !important; 
  border-width: 'transparent';
  background: linear-gradient(0deg, #82bc12 0%, #61910a 100%);
}

.logo_image {
  width: 100px;

}


.selected{
  background: linear-gradient(#0296d7 , #1876b5 );
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}

.datas{
  background: linear-gradient(#35775e , #82bc12);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
}

.disabled{
  background: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  color: white;
}

.default{
  background: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
} 