
.Login_info {
  height: auto !important;
  min-height: 100vh !important;
  background: linear-gradient(-26deg, #e1f4fe 0%, #9cdce8 48%, #3eb1dc 91%); 
}

.login_input{
  width: 250px;
}

.login_btn {
  border-radius: 20px !important; 
  border-width: 'transparent';
  background: linear-gradient(0deg, #82bc12 0%, #61910a 100%);
}

.logo_image {
  width: 100px;
margin-right: 20px;
}
.logout_icon{
  margin-right: 30px;
}

.logo_title{
  margin-left: 10px;
}

.selected{
  background: linear-gradient(#0296d7 , #1876b5 );
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border-color: #0296d7 !important;
}

.datas{
  background: linear-gradient(#35775e , #82bc12);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border-color: #0296d7 !important;
}

.disabled{
  background: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  color: white;
  border-color: #0296d7 !important;
}

.default{
  background: whitesmoke;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 10px;
  height: 80px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  border-color: #0296d7 !important;
} 

.logo_size {
  width: 450px !important;
  height: 500px !important;
  padding: 0px !important;
  margin: 0px !important;
}


@media only screen and (max-width: 600px) {
  .logo_size {
      width: 350px !important;
      height: 240px !important;
      padding: 0px !important;
      margin: 20px 0px !important;
      padding-left: 90px !important;
    }

    .back_mainimage {
      right: 0px;
      position: absolute;
          width: 90%;
          height: 8vh;
          padding: 0px;
          margin: 0px;
    }
}


.shelf_card{
  width: 100px;
  height: 80px;
  background: white;
  margin: 10px;
  border-color: 1px solid black;
}

.shelf_main {
  display: flex;
  justify-content: space-between;
  
}

.storeTitle{
    color: '#014686';
} 


.image_box {
  height: 450px;
}

.back_mainimage {
  position: absolute;
  right: 70px;
  width: 90%;
  height: 500px;
  padding: 0px;
  margin: 0px;
}

.next_btn{
  position: absolute;
  right: 0px;
  top: 560px ;

}.next_button {
  background: linear-gradient(#82bc12, #61910a) !important; 
  padding: 8px;
  border-radius: 10px;
  color: white;
}


.default_button{
  background: linear-gradient(gray, gray);
    padding: 8px;
      border-radius: 10px;
      color: white;
}

.main_bigimage{
  background: linear-gradient(#f0f1f2, #f0f1f2, #f0f1f2);
}