
.Login_info {
  height: auto !important;
  min-height: 100vh !important;
  background: linear-gradient(-26deg, #e1f4fe 0%, #9cdce8 48%, #3eb1dc 91%); 
}

.login_input{
  width: 300px;
  border-bottom: 1px solid white  !important;
}

.login_btn {
  border-radius: 20px !important; 
  border-width: 'transparent';
  background: linear-gradient(0deg, #82bc12 0%, #61910a 100%);
}

.logo_image {
  width: 100px;

}


.card_default{
  background: white;
  border: rgb(37, 125, 207);
}